<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">機能</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-film wow bounceIn text-primary"></i>
                    <h3>動画からLive Photos</h3>
                    <p class="text-muted">動画から好きなシーンを切り出して、ライブ壁紙を生成する</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-picture-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>GIFからLive Photos</h3>
                    <p class="text-muted">GIFをライブ壁紙変換する</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-image-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>複数枚の画像からLive Photos</h3>
                    <p class="text-muted">複数枚の画像からライブ壁紙を生成する</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-scissors wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>トリミング</h3>
                    <p class="text-muted">動画を画面サイズにトリミングする、黒枠なし！</p>
                </div>
            </div>
        </div>
    </div>
</section>
